@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* common css start  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* common css end  */

/* navbar section start  */
.navbar {
  position: absolute;
  z-index: 999;
  width: 100%;
}
.navbar__container {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 55px 0;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.navbar__item {
  margin: 0 30px;
}
.navbar__item:hover .navbar__link {
  color: #6a4df4;
}
.navbar__link {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: capitalize;
  transition: 0.5s;
}
.navbar__button {
  padding: 15px 42px;
  background-color: #6a4df4;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
}
/* navbar section end  */

/* banner section start  */
.banner {
  background-image: url(img/banner-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.banner__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.banner__container {
  padding-top: 315px;
  margin-bottom: 55px;
  text-align: center;
  padding-bottom: 51px;
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  /* position: relative;
  z-index: 1; */
}
.banner__heading {
  font-weight: 700;
  font-size: 75px;
  line-height: 120%;
  color: #ffffff;
  width: 950px;
  margin: 0 auto;
  margin-bottom: 51px;
}
.banner__detail {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-transform: capitalize;
  width: 621px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.banner__link {
  padding: 15px 42px;
  background-color: #6a4df4;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600px;
  line-height: 26px;
  color: #ffffff;
  border: 1px solid #6a4df4;
  text-align: center;
}
.banner__slider {
  display: flex;
  width: 110px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 100px;
}
.banner__btn {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #6a4df4;
  border: 3px solid #6a4df4;
  cursor: pointer;
  transition: 0.5s;
}
.banner__btn:hover {
  border: 3px solid #ffffff;
}
/* banner section end */

/* success section start  */
.success {
  margin-top: 171px;
}
.success__container {
  background-color: #e0fff9;
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.success__left {
  margin-left: 50px;
  margin-top: 85px;
  margin-bottom: 86px;
}
.success__h5 {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #6a4df4;
  text-transform: capitalize;
}
.success__h2 {
  font-weight: 600;
  font-size: 35px;
  color: #151515;
  width: 387px;
  margin-top: 15px;
}
.success__right {
  margin-right: 51px;
  width: 722px;
  display: flex;
  justify-content: space-between;
  margin-top: 69px;
  margin-bottom: 126px;
}
.success__h1 {
  font-weight: 700;
  font-size: 50px;
  color: #151515;
  margin-bottom: 20px;
}
.success__h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #737373;
}
/* success section end */

/* service section start  */
.service {
  margin: 149px 0;
}
.service__container {
  width: 1320px;
  margin: 0 auto;
}
.service__top {
  text-align: center;
  margin-bottom: 50px;
}
.service__heading {
  font-size: 45px;
  font-weight: 700;
  color: #151515;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.service__detail {
  font-size: 16px;
  line-height: 26px;
  color: #737373;
  text-transform: capitalize;
  width: 630px;
  margin: 0 auto;
}
.service__bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
}
.service__item {
  text-align: center;
  padding: 80px 49px 46px 49px;
  border-radius: 20px;
}
.service__item--active {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
}
.service__title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 25px;
  color: #151515;
  text-transform: capitalize;
}
.service__info {
  font-size: 16px;
  line-height: 26px;
  color: #636363;
}
/* service section end */

/* recent section start  */
.recent {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #f3f3f3;
}
.recent__container {
  width: 1320px;
  margin: 0 auto;
  text-align: center;
}
.recent__top-heading {
  font-size: 45px;
  color: #151515;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.recent__top-detail {
  font-size: 16px;
  line-height: 26px;
  color: #737373;
  text-transform: capitalize;
  width: 630px;
  margin: 0 auto;
}
.recent__bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 106px;
  gap: 24px;
}
.recent__item {
  background-color: #ffffff;
  border-radius: 20px;
}
.recent__item-img {
  border-radius: 20px;
  margin-bottom: 30px;
}
.recent__item-title {
  font-weight: 700;
  font-size: 20px;
  color: #151515;
  text-transform: capitalize;
}
.recent__item-info {
  line-height: 26px;
  font-size: 16px;
  color: #737373;
  text-transform: capitalize;
  margin: 10px 42px 30px 42px;
}
/* recent section end  */

/* choose section start  */
.choose {
  margin-top: 150px;
  margin-bottom: 106px;
}
.choose__container {
  width: 1320px;
  margin: 0 auto;
}
.choose__heading {
  font-weight: 700;
  font-size: 45px;
  color: #151515;
  text-transform: capitalize;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}
.choose__detail {
  font-size: 16px;
  line-height: 26px;
  color: #737373;
  text-transform: capitalize;
  width: 815px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;
  text-align: center;
}
.choose__bottom {
  display: flex;
  justify-content: space-between;
}
.choose__left {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 88px;
  column-gap: 103px;
}
.choose__left-title {
  font-weight: 700;
  font-size: 25px;
  color: #151515;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-top: 20px;
}
.choose__left-info {
  font-size: 16px;
  line-height: 26px;
  color: #737373;
  width: 344px;
}
/* choose section end */

/* reviews section start  */
.reviews {
  margin-bottom: 227px;
  position: relative;
}
.reviews__button-left {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #6a4df4;
  border-radius: 50%;
  left: 250px;
  top: 65%;
}
.reviews__button-right {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #6a4df4;
  border-radius: 50%;
  right: 250px;
  top: 65%;
}
.reviews__slider-icon {
  margin-left: 15px;
  margin-top: 12px;
}
.reviews__container {
  width: 1320px;
  margin: 0 auto;
}
.reviews__top {
  text-align: center;
}
.reviews__top-heading {
  font-weight: 700;
  font-size: 45px;
  color: #151515;
  text-transform: capitalize;
}
.reviews__top-info {
  font-size: 16px;
  line-height: 26px;
  color: #737373;
  width: 620px;
  margin-bottom: 130px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.reviews__bottom {
  display: grid;
  grid-template-columns: auto auto auto;
}
.reviews__item {
  padding: 54px 58px 54px 59px;
  border-radius: 30px;
}
.reviews__profile {
  display: flex;
}
.reviews__profile-img {
  margin-right: 20px;
}
.reviews__bottom-img1 {
  margin-bottom: 20px;
}
.reviews__bottom-info {
  font-size: 16px;
  line-height: 26px;
  color: #7b7b7b;
  margin-bottom: 20px;
}
.reviews__icons {
  margin-bottom: 30px;
}
.reviews__profile-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #232323;
  text-transform: capitalize;
}
.reviews__profile-title {
  font-size: 16px;
  line-height: 26px;
  color: #7b7b7b;
  text-transform: capitalize;
}
.reviews__item--active {
  background-color: #f4efef;
}
/* reviews section end  */

/* form section start  */
.form {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #f3f3f3;
}
.form__container {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form__left-heading {
  font-size: 700;
  font-size: 45px;
  color: #151515;
  text-transform: capitalize;
  width: 450px;
  margin-bottom: 20px;
}
.form__left-info {
  font-size: 16px;
  line-height: 26px;
  color: #7b7b7b;
  width: 514px;
  margin-bottom: 10px;
}
.form__right {
  padding: 61px 43px;
  background-color: #ffffff;
  border-radius: 20px;
}
.form__right-heading {
  font-size: 30px;
  font-weight: 700;
  color: #151515;
  text-align: center;
  margin-bottom: 30px;
}
.form__label {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #151515;
}
.form__input {
  display: block;
  width: 450px;
  height: 64px;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  margin-top: 10px;
  margin-bottom: 20px;
}
.form__input::placeholder {
  padding-left: 23px;
  text-transform: capitalize;
  font-size: 16px;
  color: #d0d0d0;
}
.form__button {
  margin-top: 10px;
  border: 1px solid #6a4df4;
  background-color: #6a4df4;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  padding: 19px 147px;
  border-radius: 10px;
  cursor: pointer;
}
/* form section end */

/* footer section start  */
.footer {
  padding-top: 150px;
  padding-bottom: 33px;
}
.footer__container {
  width: 1320px;
  margin: 0 auto;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e8e8e8;
}
.footer__left {
  width: 356px;
}
.footer__info {
  font-size: 16px;
  line-height: 26px;
  color: #7b7b7b;
  margin-top: 30px;
}
.footer__menu-heading {
  font-weight: 600;
  font-size: 20px;
  color: #151515;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.footer__menu {
  margin-bottom: 50px;
}
.footer__list-link {
  font-size: 16px;
  line-height: 40px;
  color: #7b7b7b;
  text-transform: capitalize;
}
.footer__rights {
  margin-top: 33px;
  font-size: 16px;
  line-height: 26px;
  color: #d0d0d0;
  text-align: center;
}
/* footer section end  */
